RewriteEngine On

# Disable for the following type
RewriteCond %{REQUEST_URI}  !\.css$
RewriteCond %{REQUEST_URI}  !\.png$
RewriteCond %{REQUEST_URI}  !\.jpg$
RewriteCond %{REQUEST_URI}  !\.js$
RewriteCond %{REQUEST_URI}  !\.zip$
RewriteCond %{REQUEST_URI}  !\.rar$
RewriteCond %{REQUEST_URI}  !\.scss$
RewriteCond %{REQUEST_URI}  !\.html


RewriteRule . index.php
